*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}
/* -----BODY----- */

.page-container {
  min-width: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
.section {
  padding: 120px 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  /* outline: 1px solid tomato; */
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

h3 {
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* -----------------HEADER------------------ */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.nav {
  display: flex;
  align-items: baseline;
}
.logo {
  font-family: "Raleway", sans-serif;

  font-weight: 700;
  font-size: 18px;

  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-span {
  color: #2e2f42;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-list-item {
}
.nav-list-item-link {
  display: inline-block;
  padding: 24px 0px;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.curent-item {
  color: #404bbf;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item-link:hover,
.nav-list-item-link:focus {
  color: #404bbf;
}

.curent-item::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #404bbf;
  height: 4px;
  width: 100%;
  border-radius: 2px;
}
.addres {
}
.addres-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.addres-list-item {
}
.addres-list-item-link {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.addres-list-item-link:hover,
.addres-list-item-link:focus {
  color: #404bbf;
}

/* -----------------MAIN-------------------- */

/* -----------HERO------------ */

.hero {
  min-height: 600px;
  max-width: 1440px;
  padding: 188px 0;

  margin-right: auto;
  margin-left: auto;

  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bcg.jpg);
  border: 1px solid #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-title {
  max-width: 496px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #fff;

  margin-bottom: 48px;
}
.hero-btn {
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: #fff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
  cursor: pointer;
}
/* -----------BENEFITES------------ */

.benefites {
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.benefites-title {
}
.benefites-list {
  display: flex;
  gap: 24px;
}
.benefites-list-item {
  width: calc((100%-3 * 24px) / 4);
}

.icon-holder {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  padding: 0 100px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}
.benefits-icon {
  width: 64px;
}

.benefites-list-item-title {
  margin-bottom: 8px;
}
.benefites-list-item-text {
}

/* -----------TEAM------------ */

.team {
  background-color: #f4f4fd;
}
.team-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-list-item {
  text-align: center;
  width: calc((100%-3 * 24px) / 4);
  overflow: hidden;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list-item-img {
  width: 264px;
  /* margin-bottom: 32px; */
}

.name-holder {
  padding: 32px 0;
}
.team-list-item-title {
  margin-bottom: 8px;
}
.team-list-item-text {
  margin-bottom: 8px;
}
.sublist {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sublist-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:hover,
.social-links:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.social-links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon {
  fill: #f4f4fd;
}

/* -----------PORTFOLIO------------ */

.portfolio {
}
.portfolio-title {
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card {
  padding: 32px 16px;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}
.portfolio-list-image {
  width: 360px;
}

.card-img {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;

  padding: 40px 32px;

  font-weight: 400;
  font-size: 16px;

  transform: translateY(100%);
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.portfolio-list-item:hover,
.portfolio-list-item:focus {
  cursor: pointer;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-list-item:hover .overlay,
.portfolio-list-item:focus .overlay {
  transform: translateY(0%);
}

.portfolio-list-subtitle {
  margin-bottom: 8px;
}
.portfolio-list-text {
}

/* .card-img::before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  content: "14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App  Cloud Storage App";
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  opacity: 0;
  padding: 40px 32px 0 32px;
} */

/* .card-img:hover::before {
  opacity: 1;
} */
/* -----------------FOOTER------------------ */
.footer {
  background-color: #2e2f42;
}
.footer .container {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: baseline;
}
.footer-div {
  margin-right: 120px;
}
.footer-div .logo {
  display: inline-block;
  margin-bottom: 15px;
}
.white-logo {
  color: #f4f4fd;
}
.footer-text {
  max-width: 264px;
  color: #f4f4fd;
}
.footer-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  line-height: 1.5;

  color: #ffffff;

  margin-bottom: 16px;
}
.footer .sublist {
  gap: 16px;
}
.footer .social-links:hover,
.footer .social-links:focus {
  background-color: #31d0aa;
}
.icon {
}
